.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/moon1.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/moon2.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/moon3.jpg");
}

footer::before {
  display: block;
  content: "";
  height: 150px;
}
